<div id="<%= dom_id comment %>">
  <p>
    <strong>Meeting:</strong>
    <%= comment.meeting_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= comment.user_id %>
  </p>

  <p>
    <strong>Text comment:</strong>
    <%= comment.text_comment %>
  </p>

</div>
