<%= notice %>
<main class="container">
  <%= link_to sanitize("&larr; Back to departments"), companies_path %>

  <div class="header">
    <h1>New Company</h1>
  </div>

  <%= turbo_frame_tag @company do %>
    <%= render "form", company: @company %>
  <% end %>
</main>