<%= notice %>
<div class="card w-75 mx-auto">
  <h5 class="card-header">New company</h5>
  <div class="card-body">
    <%= render 'form', company: @company %>
    <br>
  </div>
  <div class="card-footer text-muted">
    <%= link_to "Back to companies", companies_path, class: "btn btn-outline-secondary btn-sm"  %>
  </div>
</div>