/* DASHBOARD MAIN STUFF */
body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/* SIGN IN */

.main-signin {
  height: 100vh;
  display: flex;
  align-items: center;

  background-color: #f5f5f5;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.ft-main {
  position: fixed;
  
  bottom: 0;
}

/* DEVISE SIGN UP FORM */

.devise-sign-up{
  margin: 0 auto;
  max-width: 960px;
}

.input-group-text{
  border-radius: 0px; /* Date of Birth gray area on sign up*/
}

.profile-image{
  width: 150px;
}

.header-image{
  width: 38px;
  margin-right: 5px;
}


/* comments */

.comments {
  list-style: none;
  padding: 0;
}
.comments li {
    padding: 5px;
    margin-bottom: 10px;
    list-style-position:inside;
    border: 1px solid #5f606138;
    border-radius: 7px;
    
  }
  .comments .user {
    color: #5f6061;
    margin-bottom: -15px !important;
    padding-top: 0;
  }
  .comments .content {
    display: block;
  }
  .comments .timestamp {
    color: #5f60619f;
    font-size:small;
    /*display: block;*/
  }

  .icon-container {
    width: 50px;
    height: 50;
    position: relative;
  }

  .status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 10px;
    right: 10px;
  }
